* {
  margin: 0;
  padding: 0;
  list-style: none;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  font-size: 0.3rem;
}

.wrap {
  display: flex;
  background: #e8e8e8;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 0.8rem;
  display: flex;
  background: #fff;
}

header p {
  flex: 1;
  text-align: center;
  line-height: 0.8rem;
}

header p:nth-child(1) {
  text-align: left;
  padding-left: 0.3rem;
}

section {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  margin-top: 0.2rem;
  background: #fff;
}

section .boxtop {
  width: 100%;
  height: 1.6rem;
  border-bottom: 1px solid #e8e8e8;
}

section .boxtop dl {
  width: 100%;
  height: 100%;
  display: flex;
}

section .boxtop dl dt {
  flex: 1;
}

section .boxtop dl dt img {
  width: 100%;
  height: 80%;
  padding: 0.3rem;
}

section .boxtop dl dd {
  flex: 4;
  padding-left: 0.6rem;
  line-height: 1.6rem;
}

section .boxbottom {
  width: 100%;
  height: auto;
}

section .boxbottom dl {
  width: 100%;
  height: 1.2rem;
  display: flex;
  line-height: 1.2rem;
}

section .boxbottom dl dd {
  flex: 3;
  float: left;
  border-bottom: 1px solid #e8e8e8;
}

section .boxbottom dl dd span {
  float: right;
  padding-right: 0.3rem;
}

section .boxbottom dl dt {
  flex: 1;
}

section .boxbottom dl dt img {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.3rem 0.5rem;
}

footer {
  width: 100%;
  height: 1.9rem;
  background: #313131;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  line-height: 0.7rem;
  padding-left: 0.2rem;
}

footer p:nth-child(1) {
  color: #d3d2d3;
}

footer p:nth-child(2) {
  color: #7f7f7f;
}
